*{
margin: 0px
}


body{
background-color: rgba(58, 11, 99, 1);
width: 100%;
height: 850px;
}

table{
width: 100%;
height: 100%
}

td{
width: 100%;
height: 55px;
}

.cabecalho{
background-color: rgba(58, 11, 99, 1);
}

.fundo1{
background-image: url(https://d335luupugsy2.cloudfront.net/cms/files/375319/1662746928/$jmo1mjynf2n);
height: 93%;
background-size: cover;
}

.meio{
background-image: url(https://pbs.twimg.com/media/GIcRat1WMAA7eTj?format=png&name=900x900);
width: 100%;
height:100%;
text-align: center;
background-repeat:no-repeat;
background-position:80%;
}
