*{
margin: 0px
}

body{
width: 99%;
height: 850px
}

table{
background-color: rgba(58, 11, 99, 1);
width: 100%;
height: 100%
}

.preto{
border: solid 1px;
border-color: black;
width: 5%;
height: 7.6%
}

.cabecalho{
text-align: left;
}

.fotos1{
text-align: center;
}

.fundo1{
background-image: url(https://d335luupugsy2.cloudfront.net/cms/files/375319/1662746928/$jmo1mjynf2n);
background-color: #650f86;
background-size: cover;
background-repeat: no-repeat;
background-clip: border-box;
width: 100%;
height: 900px;
}

.componentes{
width: 28%;
height:100%;
}

.componentes2{
width: 20%;
height: 100%;
column-count: 3 ;
}

.componentes3{
    padding: 15px;
text-align: center;
width: 20%;
height: 100%;
margin: auto;
font-family: Raleway, sans-serif;
}

.componentes4{
padding: 30px;
margin: auto;
}

.componentes5{
width: 200px;
text-align: center;
padding: 15px;
}

.sobre{
height: 100%;
background-color: rgba(251,69,199,255);
}

.sobre2{
background-color: #5b1078;
padding: 33px;
}

#texto1{
font-family: Raleway, sans-serif;
color: rgb(255, 255, 255);
}

.info1{
height: 300px;
width: 100%;
text-align: center;
background-color: rgba(137,246,104,255);
}


.texto2{
column-count: 3;
text-align: center;
margin:auto;
}

.botao{
height: 100px;
text-align: center;
text-decoration: none;
}

#matricula{
padding-right: 10px;
padding-left: 10px;
font-weight: bold;
font-size: 19px;
margin: auto;
margin-bottom: 45px;
margin-top: 45px;
background-color: rgba(138, 77, 157, 1);
border-radius: 11px;
padding: 10px;  
width: 291px;

}

.rodape{
width: 20%;
column-count: 3;
text-align: center;
padding-bottom: 20px;
}