*{
margin: 0px
}

body{
width: 99%;
height: 850px
}

table{
background-color: rgba(58, 11, 99, 1);
width: 100%;
height: 100%

}

.preto{
border: solid 1px;
border-color: black;
width: 5%;
height: 7.6%
}

.cabecalho{
text-align: right;
}

.fotos1{
text-align: center;
}

.fundo1{
background-image: url(https://d335luupugsy2.cloudfront.net/cms/files/375319/1662746928/$jmo1mjynf2n);
background-color: #650f86;
background-size: cover;
background-repeat: no-repeat;
background-clip: border-box;
width: 100%;
height: 900px;
}

.componentes{
width: 16%;
height:100%;
}

.componentes2{
width: 20%;
height: 100%;
}

.sobre{
height: 100%;
background-color: rgba(251,69,199,255);
}

#texto1{
font-family: Raleway, sans-serif; 
color: rgb(255, 255, 255);
}

.info1{
height: 100%;
width: 100%;
text-align: center;
background-color: rgba(137,246,104,255);
}

.oi{
border: solid 1px;
}